// codul pentru mobile //

button[type='submit'] svg {
  width: 14px;
  height: 14px;
}

.logo .logo-icon {
  width: 32px;
  height: 32px;
}

/* TABLET */
@media screen and (min-width: 768px) {
  button[type='submit'] svg {
    width: 16px;
    height: 16px;
  }

  .logo .logo-icon {
    width: 40px;
    height: 40px;
  }

  // de completat codul pentru tableta //
}

/* DESKTOP VERSION*/
@media screen and (min-width: 1280px) {
  .logo .logo-icon {
    width: 59px;
    height: 59px;
  }

  // de completat codul pentru desktop //
}
