body {
	font-family: 'Arial', sans-serif;
	margin: 0;
	padding: 0;
	background-color: #f0f0f0;
}

.container {
	max-width: 1200px;
	margin: 0 auto;
	padding: 20px;
}

ul {
	list-style: none;
	padding: 0;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
}
.movie-card img {
	width: 100%;
	height: auto;

}
.movie-card {
	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: center;
	background-color: #fff;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
	margin: 15px;
	width: 30%;
	margin: 15px;
	border-radius: 10px;
	overflow: hidden;
}

.movie-card:focus {
	box-shadow: 10px 10px 5px 0px rgba(255, 107, 8, 0.62);
	transition: transform ease 0.5s, box-shadow ease 0.5s;
	transform: translateY(-5px);
}

.movie-card:hover {
	box-shadow: 10px 10px 5px 0px rgba(255, 107, 8, 0.62);
	transition: transform ease 0.5s, box-shadow ease 0.5s;
	transform: translateY(-5px);
}

.movie-card img {
	width: 100%;
	height: auto;
}

.movie-card h2 {
	margin-top: 10px;
	font-size: small;
	text-transform: uppercase;
	text-align: start;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

.movie-details {
	margin-top: 10px;
	display: flex;
	flex-wrap: nowrap;
	justify-content: space-between;
	align-items: center;
	
}

.movie-details span {
	margin-bottom: 10px;
	color: #ff6b08;
	font-weight: 500;
	
}

.movie-details span:not(:last-child)::after {
  content: '';
  margin: 0 10px;
  border-left: 4px solid #ff6b08; 
  height: 12px; 
  display: inline-block;
}

@media screen and (max-width: 1280px) {
	.movie-card {
		width: 45%;
	}
}

@media screen and (max-width: 768px) {
	.movie-card {
		width: 60%;
	}
}

@media screen and (max-width: 320px) {
	.movie-card {
		width: 100%;
	}
}

.tui-pagination * {
	-moz-user-select: none;
	-webkit-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.tui-ico-ellipsis,
.tui-ico-first,
.tui-ico-last,
.tui-ico-next,
.tui-ico-prev {
	overflow: hidden;
}

.tui-pagination {
	height: 28px;
	margin: 14px 0 12px;
	line-height: normal;
	text-align: center;
	font-size: 0;
}

.tui-pagination .tui-page-btn {
	display: inline-block;
	position: relative;
	width: 28px;
	padding: 8px 0 6px;
	margin-left: 0;
	color: #333;
	font-size: 12px;
	font-weight: normal;
	line-height: 1;
	text-decoration: none;
	vertical-align: middle;
	border: 1px solid #ddd;
	border-width: 1px 0;
}

.tui-pagination .tui-page-btn:hover {
	background-color: #f4f4f4;
}

.tui-pagination .tui-is-selected,
.tui-pagination strong {
	color: #fff;
	background: #4b96e6;
	border-color: #4b96e6;
	cursor: default;
}

.tui-pagination .tui-is-selected:hover {
	background-color: #4b96e6;
}

.tui-pagination .tui-first-child.tui-is-selected,
.tui-pagination strong.tui-first-child {
	margin-left: 0
}

.tui-pagination .tui-first-child,
.tui-pagination .tui-prev-is-ellip {
	border-left: 1px solid #ddd
}

.tui-pagination .tui-last-child,
.tui-pagination .tui-next-is-ellip {
	border-right: 1px solid #ddd
}

.tui-pagination .tui-first-child.tui-is-selected {
	border-left: 1px solid #4b96e6
}

.tui-pagination .tui-last-child.tui-is-selected {
	border-right: 1px solid #4b96e6
}

.tui-pagination .tui-first,
.tui-pagination .tui-prev,
.tui-pagination .tui-next,
.tui-pagination .tui-last,
.tui-pagination .tui-prev-is-ellip,
.tui-pagination .tui-next-is-ellip {
	overflow: hidden;
	height: 26px;
	padding: 0;
	font-size: 0;
	line-height: 26px;
	white-space: nowrap;
	font-weight: normal;
	border: 1px solid #ddd;
}

.tui-pagination .tui-prev-is-ellip {
	border-right: 0
}

.tui-pagination .tui-next-is-ellip {
	border-left: 0
}

.tui-pagination .tui-first+.tui-prev,
.tui-pagination .tui-next+.tui-last {
	border-left: 0
}

.tui-pagination .tui-ico-first,
.tui-pagination .tui-ico-prev,
.tui-pagination .tui-ico-next,
.tui-pagination .tui-ico-last,
.tui-pagination .tui-ico-ellip {
	background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACAAAAAiCAYAAAA+stv/AAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAyJpVFh0WE1MOmNvbS5hZG9iZS54bXAAAAAAADw/eHBhY2tldCBiZWdpbj0i77u/IiBpZD0iVzVNME1wQ2VoaUh6cmVTek5UY3prYzlk);
}