<div class="modal-window">
  <div class="modal-content">
    
    <!-- Iconita: close-btn -->
    <svg width="30px" height="30px">
      <use href="./images/icons/icons.svg#icon-close"></use>
    </svg>

    <!-- Poza film, pentru ecrane cu marimi diferite -->
    <picture>
      <source
        srcset="./images/liliana/liliana-desktop.jpg"
        media="(min-width: 1280px)"
      />
      <source
        srcset="./images/liliana/liliana-tablet.jpg"
        media="(min-width: 768px) and (max-width: 1279px)"
      />
      <source
        srcset="./images/liliana/liliana-mobile.jpg"
        media="(min-width: 320px) and (max-width: 767px)"
      />
      <img src="./images/liliana/liliana-mobile.jpg" alt="" />
    </picture>
  </div>
</div>
